## Handling imbalanced Dataset
1. up sampling
2. down Sampling

In [2]:
import numpy as np
import pandas as pd

# set the random seed for reproducebility
np.random.seed(123)

# create a datframe with two classes
n_samples = 1000
class_0_ratio= 0.9
n_class_0=int(n_samples * class_0_ratio)
n_class_1= n_samples - n_class_0

In [3]:
n_class_0,n_class_1

(900, 100)

In [4]:
## CREATE MY DATAFRAME WITH IMBALANCED DATASET 
class_0= pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_0),
    ## loc-> mean
    ## scale -> the standard distribution(spread of the distribution)
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target': [0] * n_class_0

})

class_1=pd.DataFrame({
    'feature_1': np.random.normal(loc=0,scale=1,size=n_class_1),
    ## loc-> mean
    ## scale -> the standard distribution(spread of the distribution)
    'feature_2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target': [1] * n_class_1

})

In [5]:
class_0

     feature_1  feature_2  target
0    -1.085631   0.551302       0
1     0.997345   0.419589       0
2     0.282978   1.815652       0
3    -1.506295  -0.252750       0
4    -0.578600  -0.292004       0
..         ...        ...     ...
895   0.238761  -0.003155       0
896  -1.106386  -0.430660       0
897   0.366732  -0.146416       0
898   1.023906   1.160176       0
899  -0.210056  -0.641512       0

[900 rows x 3 columns]

In [6]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [7]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [8]:
df.tail()

     feature_1  feature_2  target
995  -0.623629   0.845701       1
996   0.239810  -1.119923       1
997  -0.868240  -0.359297       1
998   0.902006  -1.609695       1
999   0.697490   0.013570       1

In [9]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [10]:
## upsampling 
## here i will increase the 1 to 900
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [13]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, ##Sample with replacement
                               n_samples=len(df_majority),
                               random_state=42
                               )

In [14]:
df_minority_upsampled.shape

(900, 3)

In [15]:
df_minority_upsampled.head()

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1

In [16]:
df_minority_upsampled.tail()

     feature_1  feature_2  target
952  -0.811098   0.189189       1
965   1.919526  -0.019459       1
976   0.810326   1.604614       1
942   1.621531   0.168229       1
974  -0.839113   0.489203       1

In [17]:
df_minority_upsampled

     feature_1  feature_2  target
951  -0.874146  -0.156083       1
992   0.196570  -0.602575       1
914  -0.067830   0.998053       1
971   0.272825   1.034197       1
960   0.870056  -0.449515       1
..         ...        ...     ...
952  -0.811098   0.189189       1
965   1.919526  -0.019459       1
976   0.810326   1.604614       1
942   1.621531   0.168229       1
974  -0.839113   0.489203       1

[900 rows x 3 columns]

In [18]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [20]:
df_upsampled.shape

(1800, 3)

In [21]:
df_upsampled.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [22]:
df_upsampled.tail()

     feature_1  feature_2  target
952  -0.811098   0.189189       1
965   1.919526  -0.019459       1
976   0.810326   1.604614       1
942   1.621531   0.168229       1
974  -0.839113   0.489203       1

In [23]:
## downsampling
## here i will reduce the 0 to 100
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [27]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False,
                               n_samples=len(df_minority),
                               random_state=42
                               )

In [28]:
df_majority_downsampled.shape

(100, 3)

In [29]:
df_majority_downsampled.head()

     feature_1  feature_2  target
70    0.468439   1.720920       0
827   1.089165  -0.464899       0
231   0.753869  -0.969798       0
588   0.588686  -0.704720       0
39    0.283627   1.012868       0

In [30]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [31]:
df_downsampled

     feature_1  feature_2  target
900  -0.300232   0.139033       1
901  -0.632261   0.025577       1
902  -0.204317  -0.196443       1
903   0.213696   1.312255       1
904   1.033878   1.187417       1
..         ...        ...     ...
398  -0.168426   0.553775       0
76   -0.403366   0.081491       0
196  -0.269293   0.611238       0
631  -0.295829   0.671673       0
751  -0.553404   0.804438       0

[200 rows x 3 columns]