## SQL And SQLite

#### Sql(structured query language) is a standard language for managing and manipulating relational databases. sqlite is a self-contained serverless, and zero-configuration database engine that is widely used for embedded database systems. we will cover the basics of sql and sqlite, including creating databases,tables, and performing various sql operations.

In [1]:
import sqlite3

In [3]:
## connect to sqlite database
connection=sqlite3.connect("example.db")
connection

In [4]:
## create a cursor
cursor=connection.cursor()

In [5]:
## create a table
cursor.execute('''
Create Table If Not Exists employees(
    id integer primary key,
    name text Not Null,
    age integer,
    department text)
''')

## commit the changes
connection.commit()

In [6]:
## insert the data in sqlite tabele
cursor.execute('''
insert into employees(name,age,department)values('sandeep',23,'Gen ai developer')
''')

cursor.execute('''
insert into employees(name,age,department)values('krish',32,'Data Engineer')
''')

cursor.execute('''
insert into employees(name,age,department)values('bob',25,'ML Engineer')
''')

## commit the changes
connection.commit()

In [10]:
## query the table 
cursor.execute('''select * from employees''')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'sandeep', 23, 'Gen ai developer')
(2, 'krish', 31, 'Data Engineer')
(3, 'bob', 25, 'ML Engineer')

In [9]:
## update the table
cursor.execute('''
update employees
set age=31
where name='krish'
''')
connection.commit()

In [11]:
cursor.execute('''select * from employees''')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'sandeep', 23, 'Gen ai developer')
(2, 'krish', 31, 'Data Engineer')
(3, 'bob', 25, 'ML Engineer')

In [12]:
## delete a record in a table 
cursor.execute('''
Delete from employees
where name='sandeep'
''')
connection.commit()

In [13]:
cursor.execute('''select * from employees''')
rows=cursor.fetchall()

for row in rows:
    print(row)

(2, 'krish', 31, 'Data Engineer')
(3, 'bob', 25, 'ML Engineer')

In [14]:
## to insert in a multiple values in single query
connection=sqlite3.connect("sales_date.db")
connection

In [15]:
cursor=connection.cursor()

In [22]:
cursor.execute('''
create table if not exists sales(
               id integer primary key,
               date text not null,
               city text,
               product text)
''')
connection.commit()

In [23]:
sales_list=[
    ('2025-01-01','chennai','mobile'),
    ('2025-01-02','banglore','tv'),
    ('2025-01-03','delhi','fridge')
]

In [24]:
cursor.executemany('''
insert into sales(date,city,product)values(?,?,?)
''',sales_list)
connection.commit()

In [25]:
cursor.execute('''select * from sales''')
rows=cursor.fetchall()

for row in rows:
    print(row)

(None, '2025-01-01', 'chennai', 'mobile')
(None, '2025-01-02', 'banglore', 'tv')
(None, '2025-01-03', 'delhi', 'fridge')
(None, '2025-01-01', 'chennai', 'mobile')
(None, '2025-01-02', 'banglore', 'tv')
(None, '2025-01-03', 'delhi', 'fridge')